---
import { getCollection } from 'astro:content'
import MainGridLayout from '@layouts/MainGridLayout.astro'
import { url, getPostUrlBySlug } from '@utils/url-utils'
import { Icon } from 'astro-icon/components'
import I18nKey from '@i18n/i18nKey'
import { i18n } from '@i18n/translation'

async function getrandpost() {
  const blogEntries = await getCollection('posts', ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true
  })

  const randomIndex = Math.floor(Math.random() * blogEntries.length)
  return getPostUrlBySlug(blogEntries[randomIndex].id)
}

const randurl = await getrandpost()

---

<MainGridLayout>
  <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative mb-4">
    <div class="card-base z-10 px-9 py-6 relative w-full text-black/75 dark:text-white/75">
      <div class="flex items-center gap-4">
        <div class="flex flex-col items-center w-1/2">
          <p class="text-[5rem] font-bold">404</p>
          <p class="text-[2rem]"><del>{i18n(I18nKey.NotFound0)}</del>{i18n(I18nKey.NotFound1)}</p>
        </div>
        <img src="https://http.cat/images/404.jpg" alt="404 Not Found" class="rounded-[var(--radius-large)] w-1/2 h-auto mt-4" style="object-fit: cover;" />
      </div>
    </div>
  </div>
  <div class="flex flex-col md:flex-row justify-between mb-4 gap-4 overflow-hidden w-full">
    <a href={url("/")} class:list={["w-full font-bold overflow-hidden active:scale-95"]}>
      <div class="btn-card rounded-2xl w-full h-[3.75rem] max-w-full px-4 flex items-center !justify-start gap-4" >
        <Icon name="material-symbols:chevron-left-rounded" class="text-[2rem] text-[var(--primary)]" />
          <div class="overflow-hidden transition overflow-ellipsis whitespace-nowrap max-w-[calc(100%_-_3rem)] text-black/75 dark:text-white/75">
            {i18n(I18nKey.NotFound2)}
          </div>
      </div>
    </a>

      
    <a href={url(randurl)} class:list={["w-full font-bold overflow-hidden active:scale-95"]}>
      <div class="btn-card rounded-2xl w-full h-[3.75rem] max-w-full px-4 flex items-center !justify-end gap-4">
          <div class="overflow-hidden transition overflow-ellipsis whitespace-nowrap max-w-[calc(100%_-_3rem)] text-black/75 dark:text-white/75">
            {i18n(I18nKey.NotFound3)}
          </div>
          <Icon name="material-symbols:chevron-right-rounded" class="text-[2rem] text-[var(--primary)]" />
      </div>
    </a>
  </div>
</MainGridLayout>